nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Configuring Layout
src/edu/unicauca/snmpinstrumentingserver/model/Layout.java 

