/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

package edu.unicauca.snmpinstrumentingserver.model;

/**
 *
 * @author johan
 */
public class Layout {
    
    public static String PATHMBEANDESCRIPTOR="/home/johaned/javaspace/university/stcav/gestv/InstrumentFolder/snmp";
    
    //JMX Server Labels
    public static String MEDIASERVER = "MediaServer";
    
    // Server Config
    public static String HOSTNAME = "Test";
    public static String PORT = "9999";
    public static int QUERYINGINTERVAL = 1000;
    
}